header {
	background-color: #F58E50;
	font-family: 'Ubuntu Condensed', sans-serif;
	position:relative;
	margin:0 auto 0 auto;
	height:50px;
}

nav{
	background-color: Peru; 
	text-align: center;
	position:relative;
	margin:0 auto 0 auto;
	display:block;
	height:30px;
	padding-top: 5px;
}

body{
	background-color: AntiqueWhite;
}

.bodyStyle{
	background-color: PeachPuff;
	margin:0 auto 0 auto;
	width:50%;
	position: relative;
}

#content {
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}

section{
	background-color: white;
	width:80%;
	height:750px;
	position:relative;
	margin:0 auto 0 auto;
	display:block;
	color:orange;
	font-size: 20px;
}

h1{
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin:0 auto 0 auto;
	padding-top: 5px;
	font-family: 'Ubuntu Condensed', sans-serif;

}

nav a{
	color:white;
	text-decoration: none;
	margin-right:10px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

nav a:hover{
	color:PeachPuff;
	text-decoration: none;
	padding-top: 5px;
}

p{
	text-align:center;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:Peru;
	font-size: 20px;
	margin:0 auto 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer{
	background-color: #F58E50;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	position:relative;
	margin:0 auto 0 auto;
	color:white;
	height:30px;
	padding-top:10px;
}

form {
	text-align: left; 
	position:relative;
	margin-left: 30px;
}

label{
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-top:10px;
}

label form{
	display:block;
	margin-bottom: 2em;
}

textarea {
	outline:none;
	resize:none;
	overflow: auto;
	border-radius: 3px;
	border: 2px solid orange;
	display:block;
	width: 400px;
	height: 40px;
	margin-top:10px;
	margin-bottom:10px;
}

input[type=submit] {
	background:Peru;
	margin-bottom: 10px;
	color:white;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    width: 250px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

input[type=submit]:hover{
	background-color: orange;
}

input[type=text]{
	border: 2px solid orange;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:400px;
    height:30px;
    display:block;
    font-family: 'Ubuntu Condensed', sans-serif;
}

input[type=button]{
	color: white;
	background-color: orange;
	padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 3px;
    display:block;
    font-family: 'Ubuntu Condensed', sans-serif;
}

input[type=button]:hover{
	background-color: Peru;
}

input[type=text]:focus {
    border: 3px solid Peru;
}

input[type=accept] {
	background-color: orange;
	color:white;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a orange background */
.container input:checked ~ .checkmark {
  background-color: orange;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.btn-group button {
    background-color: orange; /* Orange background */
    border: 1px solid PeachPuff; /* PeachPuff border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    margin-right: 1em;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: Peru;
}

.question {
	display: flex;
	padding: 1rem;
}

.questionBlock {
	width: 70%;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.btn-group {
	width: 30%;
	text-align: right;
}

.question-action {
	background: orange;
	color: black;
	padding: .5rem 1rem;
	text-decoration: none;
	font-size: 1rem;
}